
.background{
    height: 90vh;
    background-image: url('https://www.payforworks.com/images/hm_banner_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    /* opacity: 0.9; */
  }
   .none:focus{
    border-color: transparent!important;
    border:none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  .bord{
    width: 100%;
    margin-left: 52px;
    margin-top: 42px;
  
  }
  .expertHead {
    font-size: 40px;
    font-weight: 500 ;
    font-family: 'nunito sans', sans-serif ;
    /* letter-spacing: 1px; */
    margin-bottom: 8px ; 
  }
  
  .none{
    width: 38.5% !important ;
    height:9.8vh!important ;
    border-radius: 0;
    font-style: italic;
    font-size: .88rem;
    padding-left: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* padding: 30px 0 30px 10px; */
  }
  .none::placeholder{
    margin-left: 30px !important;
  }
  .butt{ 
    height: 9.8vh;
    width:9.3%;
    border-radius: 0; 
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: #13D272;
    color: #ffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .butt:hover{
    color:#ffff !important;
  }
  .para{
    font-size: 18px !important;
    font-weight: 300;
    margin-bottom: 22px;
    font-family: 'nunito sans', sans-serif ;


  }
  
  @media screen and (max-width: 1100px){
    
    .none{
      width: 65% !important;
    }
  }
  @media screen and (max-width: 900px){
    
    .none{
      width: 70% !important;
    }
  }
  @media screen and (max-width: 840px){
    
    .none{
      width: 60% !important;
    }
    
    .butt{
      width: 20%;
    }
  }
  @media only screen and (max-width: 768px){
    .none input[type=text] {
        max-width: calc(100% - 125px);
    }
    }
    
    @media only screen and (max-width: 768px){
    .none input[type=text] {
        max-width: calc(100% - 135px);

    }
    .butt{ 
    width: 20%;
      border-radius: 0; 
      font-size: 1.4rem
    }
    }
   @media screen and (max-width: 760px){
    .background {
        height: 100vh!important;
    }
    .none{
      width: 70% !important;
      height:8vh!important ;
    }
    .butt{ 
      height: 8vh;
      border-radius: 0; 
      font-size: 1.4rem
    }
    .bord{
     margin-left: 10px ;
    }
    
  }
  
  @media screen and (max-width: 600px){
    .background {
      height: 100vh!important;
  
  }
  .expertHead{
    font-size: 32px;
    margin-bottom: -20px !important;

  }
  
  .none::placeholder{
   font-size: 14px;
    
  }
  .butt{
    font-size: 18px !important;
    width: 20% !important;
  }
  }
    
  @media screen and (max-width: 500px){
  .background {
      background-position: center left 60%!important;
  }
  .none{
    width: 80% !important;
    height: 8vh !important;
    font-size: 14px;
   padding-left: 5px !important;
  
  }
  .none::placeholder{
    font-size: 12px;
  
  }
  .butt{
    height: 8vh !important;
    font-size: 16px;
    width: 20%;
  }
  .expertHead {
    font-size: 26px !important;
    margin-bottom: 2px !important;
  }
  .para{
    font-size: 16px !important;
    margin-top: 0 !important;
  
  }
  
  }
  /* @media screen and (max-width: 640px){
  .background {
      text-align: center;
  }
  } */ 