
.background{
    height: 90vh;
    background-image: url('https://www.payforworks.com/images/hm_banner_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    /* opacity: 0.9; */
  }
   .none:focus{
    border-color: transparent!important;
    border:none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  .bord{
    width: 100%;
    margin-left: 50px;
  
  }
  
  .none{
    width: 40% !important ;
    height:9.4vh!important ;
    border-radius: 0;
    font-style: italic;
    /* padding: 30px 0 30px 10px; */
  }
  .butt{ 
    height: 9.5vh;
    border-radius: 0; 
    font-size: 1.4rem;
    background-color: #13D272;
    color: #ffff;
  }
  
  @media screen and (max-width: 1100px){
    
    .none{
      width: 65% !important;
    }
  }
  @media screen and (max-width: 900px){
    
    .none{
      width: 70% !important;
    }
  }
  @media screen and (max-width: 840px){
    
    .none{
      width: 60% !important;
    }
  }
  @media only screen and (max-width: 768px){
    .none input[type=text] {
        max-width: calc(100% - 125px);
    }
    }
    
    @media only screen and (max-width: 768px){
    .none input[type=text] {
        max-width: calc(100% - 135px);
    }
    }
   @media screen and (max-width: 760px){
    .background {
        height: 100vh!important;
    }
    .none{
      width: 70% !important;
      height:8vh!important ;
    }
    .butt{ 
      height: 8vh;
      border-radius: 0; 
      font-size: 1.4rem
    }
    .bord{
     margin-left: 10px ;
    }
  }
  
  @media screen and (max-width: 600px){
    .background {
      height: 100vh!important;
  
  }
  .none::placeholder{
   font-size: 14px;
    
  }
  .butt{
    font-size: 18px;
  }
  }
    
  @media screen and (max-width: 500px){
  .background {
      background-position: center left 60%!important;
  }
  .none{
    width: 65% !important;
    height: 6vh !important;
    font-size: 14px;
   padding-left: 2px !important;
  
  }
  .none::placeholder{
    font-size: 12px;
  
  }
  .butt{
    height: 6vh !important;
    font-size: 16px;
  }
  .head{
    font-size: 22px;
  }
  .para{
    font-size: 14px;
  
  }
  
  }
  /* @media screen and (max-width: 640px){
  .background {
      text-align: center;
  }
  } */ 