.explore{
    padding: 50px 0;
    /* background: blueviolet; */
}
.explore-container{
    width: 70vw;
    margin: 0 auto;
    /* background: brown; */
}
.explore-title {
    margin-bottom: 50px;
}
.img-fluid {
    width: 120px;
    height: 120px;
}
/* .offset-md-1 {
    min-width: 30vh 
} */
.cart-content{
    color: gray;
    font-size: 14px;
    margin-top: 20px;
}
