.andot::before {
  content: "";
  display: inline-block;
  height: 8px;
  background: #1dca8c;
  width: 45px;
  border-radius: 10px;
  margin-right: 5px;
}
.andot span {
  display: inline-block;
  height: 8px;
  background: #31e4e6;
  width: 25px;
  border-radius: 10px;
  margin-right: 5px;
}
.andot::after {
  content: "";
  display: inline-block;
  height: 8px;
  background: #31e4e6;
  width: 12px;
  border-radius: 10px;
  margin-right: 5px;
}
.hw_mtitle {
  font-size: 40px !important;
  color: #112445;
  font-weight: 640 !important;
  margin-bottom: 20px;
  font-family: inherit;
}
.hw_tabcont p {
  font-family: nunito sans, sans-serif;
  letter-spacing: 0.3px;
  line-height: 25px;
  font-size: 15px !important;
}
.hw_tabcont h3 {
  color: #112445;
  font-weight: 640 !important;
  margin-top: 30px !important;
  font-size: 24px !important;
}
.h_divider {
  display: block;
  height: 1px;
  background: #96edee;
  max-width: 280px;
  margin-bottom: 30px;
}
.hw_tabcont .button2 {
  font-family: nunito sans, sans-serif;
  letter-spacing: 0.3px;
  line-height: 25px;
  font-size: 15px;
  cursor: pointer;
}

.hwlink {
  background: #2ac884;
  color: #fff;
  font-weight: 800;
  padding: 15px 35px;
  display: inline-block;
  margin: 30px auto 15px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}
.coi-mar .akd {
  position: relative;
  right: 2vw;
  width: 45vw;
}

.s2d-img {
  display: none;
}

@media screen and (max-width: 770px) {
  .s2d-img {
    display: block;
  }
}
@media screen and (max-width: 770px) {
  .s1d-img {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .hw_mtitle {
    font-size: 30px !important;
  }
}
@media only screen and (max-width: 768px) {
  .hw_tabcont h3 {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 600px) {
  .hwlink {
    padding: 0 20px !important;
    height: 45px;
    line-height: 45px;
  }
}
@media only screen and (max-width: 440px) {
  .hwlink {
    padding: 15px 20px;
    margin: 15px auto;
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 991px) {
  .coi-mar .akd {
    width: 80vw !important;
  }
}
@media only screen and (max-width: 757px) {
  .coi-mar .akd {
    position: relative;
    right: 1vw !important;
  }
}

@media only screen and (max-width: 650px) {
  .coi-mar .akd {
    position: relative;
    right: 0.5vw !important;
  }
}

@media only screen and (max-width: 600px) {
  .coi-mar .akd {
    position: relative;
    right: -9vw !important;
  }
}

@media only screen and (max-width: 450px) {
  .coi-mar .akd {
    position: relative;
    right: -7vw !important;
  }
}
