/* body {
    margin: 0;
    font-family: "nunito sans", "sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  } */

  .sign{
    // height: 130vh;
    width: 100vw;
    padding-bottom: 40px;
    background-color: #ededec;  
  
  .mini{
    /* height: 100vh; */
    width: 78vw;
    // margin-bottom: 20px;
    background-color: #fff;
  }
  .heading{
    padding-top:2%;
    font-weight: 300;
  }
  p{
    font-size: 15px;
    color: #000;
    /* position: relative;
    left: 42%; */
  }
   p span{
    color:#38cb8b;
    font-weight: 500;
  }
  .i1{
    width:40%;
    position: relative;
    left: 30%;
    font-family: "nunito sans", "sans-serif";
    // padding: 13px 10px;
  }
  label{
    position: relative;
    left: 30%;
    font-weight: bold;
    color:#424242 !important;
    font-size: 13px;
  }
  
  input:focus{
    box-shadow: none !important;
    /* border:none !important; */
    outline: none !important;
  }
  .btn span{
    position: relative;
    left: 7%
    ;
  }
 .bt{
   font-size: 14px;
 }
  .bt1{
    position: relative;
    left: 46%;
    margin-top: 30px;
    margin-bottom: 40px ; 
    
  }
 
@media(max-width:425px){

.i1{
  width: 70% !important;  position: relative;
  left: 14%;
}
 }
 @media(max-width:650px){
 
 .i1{
   width: 70% !important;  position: relative;
   left: 15%;
 }
  }
  
@media(max-width:768px){

  .i1{
    width: 70% !important;  position: relative;
    left: 14%;
  }
   }
   .hov:hover{
     background-color: #fff !important; 
     color:#2a5297 !important;
     cursor: pointer;
     border:#2a5297 1px solid ;
   }
   .hov1:hover{
    background-color: #fff !important; 
    color:#dd4b39 !important;
    cursor: pointer;
    border:#dd4b39 1px solid ;
  }
}