.logo {
  width: 15vw !important;
}
ul {
  display: flex !important;
  width: 70% !important;
  justify-content: space-between !important;
  align-self: center !important;
  font-weight: bold !important;
  font-size: 14px !important;
  color: rgb(0, 0, 0, 0.6) !important;
  font-family: nunito sans, sans-serif !important;
}
ul li:nth-child(5) {
  height: 60px !important;
  border: 0.5px solid rgba(128, 128, 128, 0.199) !important;
}
ul li:nth-child(8) .btn {
  position: relative;
  top: 5px;
  background: #13d272 !important;
  border-radius: 30px !important;
  font-size: 12px;
  height: 45px !important;
  width: 120px !important;
}
ul li a {
  transition: all 1s !important;
}
ul li a:hover {
  color: #13d272 !important;
  transition: all 1s !important;
}
.dis-none {
  display: none !important;
}
@media only screen and (max-width: 1350px) {
  ul {
    width: 80% !important;
  }
}

@media only screen and (max-width: 1190px) {
  ul li:nth-child(1),
  ul li:nth-child(3) {
    display: none !important;
  }

  .dis-none {
    display: initial !important;
  }

  .dis-none a {
    color: rgb(0, 0, 0, 0.6) !important;
  }
}
@media only screen and (max-width: 850px) {
  .logo {
    width: 16.7vw !important;
  }
}
@media only screen and (max-width: 768px) {
  ul li:nth-child(5) {
    display: none;
  }
}
@media only screen and (max-width: 730px) {
  .logo {
    height: 60px !important;
    width: 200px !important;
  }
}
@media only screen and (max-width: 426px) {
  .logo {
    width: 55vw !important;
  }
}
@media only screen and (max-width: 376px) {
  .logo {
    width: 60vw !important;
  }
}
@media only screen and (max-width: 321px) {
  .logo {
    width: 67vw !important;
  }
}
