.inner-content .relative {
  position: relative;
}
.inner-content .arrow {
  background-color: lightgray;
}
.inner-content .arrow::before {
  content: "";
  border-left: 13px solid lightgray;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  position: absolute;
  top: 50px;
  right: -13px;
  z-index: 1;
}

/* @media (max-width: 991.98px) {
  .arrow::before {
    display: none;
  }
} */
