@import url("https://fonts.googleapis.com/css?family=Anton|Nunito|Nunito+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: nunito sans, sans-serif;
  box-sizing: border-box;
  outline: none;
}
/* .App {
  background: black;
  color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@media -webkit-full-screen and (min-width: 380px) {
  .App {
    color: red;
    background: #09d3ac;
  }
} */
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,800&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
