/*import fonts from google font*/

@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');



body {
    background: #fff;
    min-height: 100vh;
  }

  .white{
      background: #170d72 !important;
  }

  .rounded-lg {
    border-radius: 1rem !important;
  }
  
  .text-small {
    font-size: 0.9rem !important;
  }
  
  .custom-separator {
    width: 6rem;
    height: 6px;
    border-radius: 2rem;
  }
  
  .text-uppercase {
    letter-spacing: 0.2em;
    color: #fff !important;
  }

  .btn{
      background: #170d72;
  }
