  .malik{ 

    .cont ul>li{
  
      color: #1b1b1b;
      font-weight: 400;
      font-size: 14px;
      padding: 8px 0;
      /* display: inline-block; */
      text-transform: capitalize;
    }
    .umar{
      margin:0 170px 
    }
  } 