
@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');

.subpage.mbr_pln {
  background: #fff;
}
.prc_Title h2 {
  font-size: 64px;
  font-weight: 900;
  color: #ecebf3;
  /* margin-bottom: 30px; */
}
.prc_Title h3 {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1px;
  /* line-height: 40px; */
  margin-top: 20px;
  color: #1b1919;
  /* max-width: 80%; */
}
.prc_Title span {
  font-size: 16px;
  color: #1b1919;
  font-weight: 300;
  margin-top: 25px;
  letter-spacing: 0.4px;
  line-height: 26px;
  display: inline-block;
  max-width: 80%;
}
.inner {
  background: #291f81;
  color: #fff;
  padding: 20px 30px;
  height: 460px;
  border-radius: 30px;
  /* max-width: 310px; */
  /* position: relative; */
  /* margin-top: 25px; */
}
input[type="checkbox"]{
  position: relative;
  width: 65px;
  height: 30px;
  -webkit-appearance: none;
  background: gradient(linear,left top,right top,from(#1bd472),to(#17a298));
  background: linear-gradient(left,#1bd472,#17a298);
  background: linear-gradient(to left,#1bd472,#17a298);
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.2);
  transition: .5s;
}
input:checked[type="checkbox"]
{
  background: gradient(linear,left top,right top,from(#1bd472),to(#17a298));
  background: linear-gradient(left,#1bd472,#17a298);
  background: linear-gradient(to left,#1bd472,#17a298);
}
input[type="checkbox"]:before
{
  content: '';
  border: 2px solid white;
position: absolute;
width: 25px;
height:25px;
   border-radius: 20px;
top: 0;
left: 0;
background: #ffffff;
transform: scale(1.3);
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
transition: .5s;
}
input:checked[type="checkbox"]:before
{
left: 36px;
}
.inner h3 {
  font-size: 24px;
  font-weight: 800;
}
.inner h4 {
  font-size: 20px;
  font-weight: 800;
  color: #19bd83;
  margin-top: 5px;
  line-height: 36px;
  margin-bottom: 30px;
}
.inner ul li {
  padding: 10px 0;
  list-style: none;
  padding-left: 0 !important;
}

.inner ul {
  padding-left: 0 !important;
}
.pricing_switch {
  margin-bottom: 30px;
  margin-top: 30px;
}

.pricing_wrps {
  padding: 50px 0;
}
.pro {
  font-size: 36px !important;
  font-weight: 800 !important;
  letter-spacing: 2px;
}
.pro sup {
  top: -10px;
  font-weight: 300;
  font-size: 18px;
  left: 4px;
  letter-spacing: 1px;
}
.row.prcing_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.subpage.mbr_pln .subpage_bg {
  margin-bottom: 0;
} 
.plan {
  position: absolute;
  bottom: 40px;
}
.plan {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.plan > span {
  color: #19bd83;
  font-weight: 800;
  font-size: 20px;
}
.mbpl_a {
  border: 1px solid #fff;
  padding: 12px 30px;
  color: #fff;
  border-radius: 40px;
  font-weight: 800;
  transition: all 0.2s ease-in-out;
}
.mbpl_a:hover,
.mbpl_a:active,
.mbpl_a:focus {
  border: 1px solid #13d272;
  padding: 12px 40px;
  color: #13d272;
}

button.mbpl_a {
  background: 0 0;
  top: 10px;
  position: relative;
}


.pricing_switch>div {
  padding: 0 25px;
  font-weight: 800;
  color: #000;
  font-size: 18px;
}
.pricing_switch .switch {
  height: 24px;
}
.switch{
  position: relative;
  display: inline-block;
  width: 50px;
}
label{
  max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.pricing_switch .disabled {
  font-weight: 400!important;
  color: #291f81!important;
  font-size: 18px;
  padding: 0 25px;
}

.pricing_switch input:checked+.sliderr, .pricing_switch input+.sliderr {
  background: gradient(linear,left top,right top,from(#1bd472),to(#17a298));
  background: linear-gradient(left,#1bd472,#17a298);
  background: linear-gradient(to left,#1bd472,#17a298);
}
.sliderr {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #44485b;
  transition: .4s;
}
.sliderr.roundd {
  border-radius: 34px;
}
.switch input {
  display: none;
}  
input[type=checkbox], input[type=radio] {
  margin: 4px 0 0;
  line-height: normal;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input {
  border: 1px solid #d7cdcd;
  margin-bottom: .5em;
}

.pricing_switch input:checked+.sliderr::before, .pricing_switch input+.sliderr::before {
  background-image: none;
  background: #fff;
}
.pricing_switch .sliderr::before {
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 1px;
}
.sliderr.roundd::before {
  border-radius: 50%;
} 
.sliderr::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 0;
  bottom: -2px;
  background-image: linear-gradient(to left,#c1c2ca,#747991);
  transition: .4s;
} 

